/* GENERAL 
==========================================================*/
@font-face {
  font-family: 'GSans';
  src: url('../assets/fonts/GSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GSans';
  src: url('../assets/fonts/GSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GSans';
  src: url('../assets/fonts/GSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GSans';
  src: url('../assets/fonts/GSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GSans';
  src: url('../assets/fonts/GSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GSans';
  src: url('../assets/fonts/GSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@--fs-22px: 1.375rem;
@--fs-21px: 1.313rem;
@--fs-20px: 1.25rem;
@--fs-19px: 1.188rem;
@--fs-18px: 1.125rem;
@--fs-17px: 1.063rem;
@--fs-16px: 1rem;
@--fs-15px: 0.938rem;
@--fs-14px: 0.875rem;

:root{
  --clr-text: #eeeeeec1;
  --clr-primary: #2d2d2d;
  --clr-secondary: #2d2d2d;

  --clr-button: #2d2d2d;
  --clr-button-text:#eeeeeec1;
  --clr-button-hover: #252525;

  --clr-secondary-button:#eeeeeec1;
  --clr-secondary-button-text:#2d2d2d;
  --clr-secondary-button-hover:#eeeeeec1;

  --clr-background: rgb(30,30,30);
  --clr-gradient-background: rgb(45,45,45);
  --clr-linear-gradient: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(94,94,94,1) 100%);

  --box-shadow : rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --box-shadow-button : rgba(#2d2d2d, 0.3) 0px 1px 2px 0px, rgba(#2d2d2d, 0.15) 0px 2px 6px 2px;
  --box-shadow-input : rgba(0, 0, 0, 0.15) 0px 2px 8px;

  --outline : 1px solid rgba(0, 0, 0, 0.03);
  --outline-input : 1px solid rgba(0, 0, 0, 0.04);

  --ff-base: 'GSans', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

/* ELEMENTS 
==========================================================*/

body{
  position: relative;
  font-size: @--fs-18px;
  font-family: var(--ff-base);
  color: var(--clr-text);
  background-color: var(--clr-background);
}

#root{
  margin: 5svw;
  padding: 20px;
  min-height: 75svh;
  border-radius: 20px;
  background: var(--clr-linear-gradient);
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
}

a {
  -webkit-tap-highlight-color: transparent;

  &:hover{
    cursor: pointer;
  }
}

a:link, a:visited, a:active{
  color: var(--clr-text);
  text-decoration: none;
}

a.link{
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -.4em;
    left: 50%;
    right: 50%;
    height: 1px;
    background: var(--clr-text);
    transition: all ease .2s;
  } 
  
  &:hover:after {
    left: 0;
    right: 0;
    height: 2px;
  } 
  
  &:before {
    position: absolute;
    transform: translateX(-100%);
    left: -10px;
    color: #eee;
    opacity: .3;
    font-weight: 100;
    font-size: .8em;
  }
}

.input{
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--clr-input);
  margin-top: 10px;
  font-family: "GSans";
  box-shadow: var(--box-shadow-input);
  -webkit-box-shadow: var(--box-shadow-input);
  -moz-box-shadow: var(--box-shadow-input);
  outline: var(--outline-input);
  &::selection {
    color: var(--clr-background);
    background: var(--clr-text);
  }
    
  &::-moz-selection {
    color: var(--clr-background);
    background: var(--clr-text);
  }
}

img{
  max-width: 100%;
}

.button{
  position: relative;
  padding: 10px 20px;
  color: var(--clr-button-text);
  background-color: var(--clr-button);
  margin: 10px;
  border-radius: 10px;
  transition: ease-in-out 0.25s;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-shadow: var(--box-shadow-button);
  &:hover{
    background-color: var(--clr-button-hover)
  }
}

a.button{
  color: var(--clr-button-text);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: 10px 25px;
  border-radius: 10px;
  gap: 10px;
  width: fit-content;
}

a.secondary-button{
  color: var(--clr-text);
}

.secondary-button{
  background-color: var(--clr-secondary-button);
  border: 2px solid var(--clr-button);
  &:hover{
    background-color: var(--clr-secondary-button-hover);
  }
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HEADER 
==========================================================*/

header{
  img{
    opacity: 0.75;
  }

  ul {
    gap: 20px;
    
    li{
      list-style-type: none;
    }
  }
}

/* FOOTER 
==========================================================*/

footer{
  margin: 40px;

  ul {
    gap: 10px;
    
    li{
      list-style-type: none;
    }
  }
  
  .info-bar{
    z-index: 0;
    font-size: @--fs-16px;
    justify-content: space-around;
    position: relative;
    
    .row{
      gap: 15px;

      .circle-image{
        width: 70px;
        height: 70px;
        background-color: var(--clr-button-text);
        border-radius: 50%;
      }
    }

    .box{
      position: absolute;
      right: 0;
      z-index: -1;
      background-color: #2d2d2d;
      border-radius: 20px;
      width: 210px;
      height: 150px;
    }
  }

  .copyright-bar{
    opacity: 0.75;
    margin-top: 100px;
    font-size: @--fs-14px;
  }
}


/* MAIN CONTENT 
==========================================================*/
main{
  min-height: 35svh;
}

